.main {
    width:500px;
    text-align: center;
    margin: 0 auto;
    border:2px solid rgb(12, 137, 209);
    border-bottom: 0px;
    margin-top:20px;
    font-family:  sans-serif;
}
h1 {
    text-align: center;
    background-color: rgb(12, 137, 209);
    padding:30px;
    margin-top:0px;
    color:whitesmoke;
}
.search {
    position:relative;
    padding-bottom: 0px;
    height:30px;
}



