<div class="container" style="text-align:center" class="col-md-12" style="font-size:22px">
    <div class="jumboton">
    <header class="container-fluid">
        <h1>Welcome</h1>
        <h2>Personnal Dictionary</h2>
    </header>
    <style>
header{
    background-color: rgb(24, 163, 206);
    color: rgb(221, 231, 238);
    padding:15px;
    text-align: center;
}
h3 {
    color: rgb(21, 123, 219);
}
     </style>
    </div>
        
        <div class="row" style="text-align: center">
        <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
    <input id="name" type="text" [(ngModel)]="name" (change)="getDictonaryD()" placeholder="Search full page view of the words">
    <br>
    <select dictionary="words">
           <option value="Assault">Assault</option>
           <option value="Curvature">Curvature</option>
           <option value="Assume">Assume</option>
           <option value="Amendment">Amendment</option>
           <option value="Relic" >Relic</option>
           <option value="Fond">Fond</option>
           <option value="Splinter">Splinter</option>
           <option value="Unveiled">Unveiled</option>
           <option value="Allegation">Allegation</option>
           <option value="Buttocks">Buttocks</option>
    </select>
    <button (click)="getData()"> Get Data </button>
        </form>
    </div>

        <div class="words-container dropdown">
            <div (click)="selectValue"Inss='words' *ngFor='Lets of words|searchfilter.getSearchValue()' class="col-md-4">
            
        </div>
                <p>
                    No results found
                </p>
            </div>
        </div>


        <div class="panel-footer">
            <div class="row" style="text-align:center" style="font-size:22px" class="col-md-12">
            @2017 PERSONNAL University 
        </div>
            
        </div>
    </div>
</div>